<ion-content class="auth-page">
  <div class="app-header">
    <div class="app-header__content">
      <img class="app-header__logo" src="../../assets/bottle_dark_red.svg" alt="Bottle" />
      <p id="app-header__title">{{ 'APP_TITLE' | transloco }}</p>
      <p id="app-header__slogan">{{ 'APP_SLOGAN' | transloco }}</p>
    </div>
  </div>

  <ion-card class="auth-card">
    <ion-card-header>
      <ion-segment
        class="auth-segment"
        [value]="mode"
        (ionChange)="onModeChange($event)"
        mode="ios">

        <ion-segment-button [value]="AuthTypeEnum.LOGIN">
          <ion-label>{{ 'AUTH.LOGIN' | transloco }}</ion-label>
        </ion-segment-button>

        <ion-segment-button [value]="AuthTypeEnum.REGISTER">
          <ion-label>{{ 'AUTH.REGISTER' | transloco }}</ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-card-header>

    <ion-card-content>
      <ng-container [ngSwitch]="mode">
        <app-utils [mode]="mode"></app-utils>
      </ng-container>

      <div class="divider">
        <div class="divider-line"></div>
        <span>{{ 'AUTH.OR_CONNEXION_WITH' | transloco }}</span>
        <div class="divider-line"></div>
      </div>

      <ion-button
        expand="block"
        fill="outline"
        class="google-btn"
        (click)="loginWithGoogle()">
        <img class="slot-start-icon" slot="start" src="assets/google_logo.svg" alt="Google logo" width="20px" height="20px"/>
        {{ mode === AuthTypeEnum.LOGIN ? ('AUTH.GOOGLE_LOGIN' | transloco) : ('AUTH.GOOGLE_REGISTER' | transloco) }}
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>