<ion-content class="auth-page">
  <div class="app-header">
    <div class="app-header__content">
      <img class="app-header__logo" src="../../assets/bottle_dark_red.svg" alt="Bottle" />
        <p id="app-header__title">Ma Cave</p>
        <p id="app-header__slogan">Votre cave à portée de main</p>
    </div>
  </div>
  <ion-card class="auth-card">
    <ion-card-header>
      <ion-segment
        class="auth-segment"
        [value]="mode"
        (ionChange)="onModeChange($event)"
        mode="ios">

        <ion-segment-button [value]="AuthTypeEnum.LOGIN">
          <ion-label>
            {{ 'AUTH.LOGIN' | transloco }}
          </ion-label>
        </ion-segment-button>

        <ion-segment-button [value]="AuthTypeEnum.REGISTER">
          <ion-label>
            {{ 'AUTH.REGISTER' | transloco }}
          </ion-label>
        </ion-segment-button>

      </ion-segment>
    </ion-card-header>
    <ion-card-content>
      <ng-container [ngSwitch]="mode">
        <app-utils [mode]="mode"></app-utils>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-content>