<form [formGroup]="loginForm" (ngSubmit)="login()">
  <ion-item class="input-form">
    <ion-input type="email" formControlName="email" placeholder="{{ 'AUTH.EMAIL' | transloco }}"></ion-input>
  </ion-item>
  <form-error [control]="loginForm.get('email')"></form-error>

  <ion-item class="input-form">
    <ion-input type="password" formControlName="password" placeholder="{{ 'AUTH.PASSWORD' | transloco }}"></ion-input>
  </ion-item>
  <form-error [control]="loginForm.get('password')"></form-error>

  <ion-button expand="block" type="submit" [disabled]="loading" class="ion-margin-top">
    {{ 'AUTH.LOGIN_BUTTON' | transloco }}
  </ion-button>
</form>