<form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()">

  <app-input
    label="{{ 'AUTH.EMAIL' | transloco }}"
    type="email"
    placeholder="{{ 'AUTH.EMAIL_PLACEHOLDER' | transloco }}"
    [control]="loginForm.get('email')"
    iconName="mail-outline">
  </app-input>

  <app-input
    label="{{ 'AUTH.PASSWORD' | transloco }}"
    type="password"
    placeholder="••••••••"
    [control]="loginForm.get('password')"
    iconName="lock-closed-outline">
  </app-input>

  <button type="button" class="forgot-password-btn" (click)="forgotPassword()">
    {{ 'AUTH.FORGOT_PASSWORD' | transloco }}
  </button>

  <ion-button expand="block" type="submit" [disabled]="loading" class="ion-margin-top">
    {{ 'AUTH.LOGIN_BUTTON' | transloco }}
  </ion-button>

</form>