<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="auth-form ion-margin-bottom">
    <ion-item>
      <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" (click)="login()">Se connecter</ion-button>
  <ion-button fill="clear" (click)="goToRegister()">Créer un compte</ion-button>
</ion-content>