<form [formGroup]="registerForm" (ngSubmit)="register()">
  <ion-item class="input-form">
    <ion-input type="email" formControlName="email" placeholder="{{ 'AUTH.EMAIL' | transloco }}"></ion-input>
  </ion-item>
  <form-error [control]="registerForm.get('email')"></form-error>

  <ion-item class="input-form">
    <ion-input type="password" formControlName="password" placeholder="{{ 'AUTH.PASSWORD' | transloco }}"></ion-input>
  </ion-item>
  <form-error [control]="registerForm.get('password')"></form-error>

  <ion-item class="input-form">
    <ion-input type="password" formControlName="confirmPassword" placeholder="{{ 'AUTH.CONFIRM_PASSWORD' | transloco }}"></ion-input>
  </ion-item>

  <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="loading">
    {{ 'AUTH.REGISTER_BUTTON' | transloco }}
  </ion-button>
</form>