<form [formGroup]="registerForm" (ngSubmit)="register()">

  <app-input
    label="{{ 'AUTH.EMAIL' | transloco }}"
    type="email"
    placeholder="{{ 'AUTH.EMAIL_PLACEHOLDER' | transloco }}"
    [control]="registerForm.get('email')"
    iconName="mail-outline">
  </app-input>

  <app-input
    label="{{ 'AUTH.PASSWORD' | transloco }}"
    type="password"
    placeholder="••••••••"
    [control]="registerForm.get('password')"
    iconName="lock-closed-outline">
  </app-input>

  <app-input
    label="{{ 'AUTH.CONFIRM_PASSWORD' | transloco }}"
    type="password"
    placeholder="••••••••"
    [control]="registerForm.get('confirmPassword')"
    iconName="lock-closed-outline">
  </app-input>

  <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="loading">
    {{ 'AUTH.REGISTER_BUTTON' | transloco }}
  </ion-button>
</form>