<ion-header class="custom-header">
  <div class="header-content">
    <h1>🗒️ Mes notes</h1>
    <ion-button fill="clear" class="settings-btn" (click)="openSettings()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding app-dark">
  <div class="wrapper">
    @for (item of items; track item.title) {
      <ion-card class="app-card">
        <ion-card-header>
          <div class="card-header">
            <ion-card-title>{{ item.title }}</ion-card-title>
            <ion-badge class="tag" color="medium">{{ item.tag }}</ion-badge>
          </div>
        </ion-card-header>
        <ion-card-content class="card-content">
          {{ truncate(item.content, 100) }}
        </ion-card-content>
      </ion-card>
    }
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>